<div id="left_column">

	<div class="title">
		YKWX
	</div>

		<ul>
			<li>Barcelona</li>
			<li>Croatia</li>
			<li>Trieste</li>
			<li>Berlin</li>
			<li>Majorca</li>
		</ul>

</div>

<div id="right_column">

	<div class="box">
	</div>
	<div class="header_image">
	</div>
</div>