<div id="left_column">

	<div class="title">
		YKWX
	</div>

		<ul>
			<li><a href="http://ykwx.dev/">Barcelona</a></li>
			<li><a href="http://ykwx.dev/">Croatia</a></li>
			<li><a href="http://ykwx.dev/">Trieste</a></li>
			<li><a href="http://ykwx.dev/">Berlin</a></li>
			<li><a href="http://ykwx.dev/">Majorca</a></li>
		</ul>

</div>

<div id="right_column">

	<div class="box">
	</div>
	<div class="header_image">
	</div>
</div>