@import url(http://fonts.googleapis.com/css?family=Anaheim|Oswald:400,300,700);


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; height: 0; background: #FFF6DC; border: none; position: relative; zoom: 1; }
.flex-viewport { 
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-o-transition: all 1s ease; 
	transition: all 1s ease; 
}
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
	*height: 0;
	margin-top: 0px;
}
.flex-direction-nav a  { 
	display: block; 
	width: 40px; 
	height: 40px; 
	margin: -355px 964px 0px 0px;
	position: absolute; 
	cursor: pointer; 
	opacity: 1;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease; 
		transition: all .3s ease; 
	}
	
.flex-direction-nav a:hover {
	opacity: 0.8;
} 

.flex-prev { 
	right: -25px;
	background: url('https://s3-eu-west-1.amazonaws.com/ykwx/graphics/nav.png');
	background-position: -7px 49px;
	text-indent: -99999px; 
}
.flex-next { 
	right: -66px;
	background: url('https://s3-eu-west-1.amazonaws.com/ykwx/graphics/nav.png');
	background-position: -7px -3px; 
	text-indent: -99999px;
}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

.flex-control-paging, .flex-control-nav {
	background-color: #FFF6DC;
	display: none;
}

