@import url(http://fonts.googleapis.com/css?family=Anaheim|Oswald:400,300,700);

body {
	background-color: #FFF6DC;
	color: #202020;
    opacity: 0;
                                 
    -webkit-transition: opacity .8s ease-in;
       -moz-transition: opacity .8s ease-in;
        -ms-transition: opacity .8s ease-in;
         -o-transition: opacity .8s ease-in;
            transition: opacity .8s ease-in;
}

body.load {
    opacity: 1;
}

#header {
	float: left;
	width: 100px;
	height: 300px;
	display: block;
	padding: 20px 0px 0px 15px;
}

a {
	text-decoration: none;
	color: #202020;
}

a:hover {
	text-decoration: line-through;
}

.title {
	h1 {	
		font-family: 'Oswald', sans-serif, helvetica;
		font-weight: 300;
		font-size: 30px;
		margin: 0px 12px 12px 12px;
	}
	a {
		text-decoration: none;
	}
}

.locations {
	ul {
		list-style-type: none;
		padding: 0;
	}
	font-family: 'Anaheim', sans-serif, helvetica;
	font-size: 14px;
	line-height: 1.4em;
	padding-left: 13px;
}

#right_column {
	margin-left: 200px;
	width: 100px;
	height: 300px;
	display: block;
	padding-top: 20px;
}


.box {
	width: 800px;
	height: 531px;
	background-color: #abaaa8;
	margin: 12px 0px 0px 12px;
}

.header_image {
	width: 800px;
	height: 531px;	
	margin-top: -520px;
	margin-left: 2px;
}


